# Initial Data Understanding

In [66]:
# Random state
rst = 42

## Loading Data and Libraries

In [1]:
import pandas as pd
import numpy as np
import sys
import os

import seaborn as sns
import matplotlib.pyplot as plt

sys.path.append('../src/')
pd.set_option('display.max_columns', None)

%matplotlib inline
%load_ext autoreload
%autoreload 2

## Análise preliminar dos dados de Quimioterapia e Radioterapia para Câncer de Mama
Neste documento serão tratadas as primeiras identificações de padrão e possíveis incongruências - de acordo com o julgamento do grupo - em relação aos dados fornecidos para Quimioterapia e Radioterapia de pacientes atendidos para câncer de mama.

In [5]:
read_kwargs = {'encoding':'latin-1', 'error_bad_lines':False, 'sep':',', 'low_memory':False, 'index_col':0, 'skiprows':0}

df_mama_quim = pd.DataFrame()
for chunk in pd.read_csv('../data/raw/Mama Quimioterapia SIA-SUS.zip', chunksize=100000, **read_kwargs):
    df_mama_quim = pd.concat([df_mama_quim, chunk], ignore_index=True)

df_mama_rad = pd.read_csv('../data/raw/Mama Radioterapia SIA-SUS.csv', **read_kwargs)

b'Skipping line 100354: expected 74 fields, saw 87\n'

In [7]:
import constants

df_mama_quim.rename(columns=constants.LAYOUT_APAC, inplace=True)
df_mama_rad.rename(columns=constants.LAYOUT_APAC, inplace=True)

### Amostras de dados
Um primeiro panorama de formatos e disposição de ambos datasets.

In [10]:
df_mama_quim.sample(5)

,dt_process,tp_gestao,cod_tp_gestao,cod_est_cnes,num_apac,dt_atend_paciente,proc_princ_apac,vl_tot_apac_aprov,cod_uf_mun,tp_est,tip_prest,est_man_ind,cnpj_est_exe,cnpj_mante,num_csn,cod_idade,num_idade,sexo,raca_cor,cod_uf_mun_paciente,nac_paciente,cep_paciente,uf_res_dif_paciente,mun_res_dif_paciente,dt_ini_val,dt_fim_val,tp_atend_apac,ind_apac,mot_sai_perm,ind_obito,ind_encerr,ind_perm,ind_alta,ind_transf,dt_ocorr,cod_org_emi,car_atend,num_apac_ant,cod_soli_cnes,dt_soli,dt_auto,cid_caus_assoc,cid_princ,cid_sec,etnia,aq_cid_10,aq_linfo_reg_inva,aq_estadi,aq_grahis,aq_dt_inden_pato,aq_trat_anter,aq_cidini1,aq_dt_ini_1_trat,aq_cidini2,aq_dt_ini_2_trat,aq_cidini3,aq_dt_ini_3_trat,aq_cont_trat,aq_dt_inic_trat_soli,aq_esqu_p1,aq_tot_mes_plan,aq_tot_mes_aut,aq_esu_p2
1588833,201506,EP,260000,582,2615205050238,201506,304050121,79.75,261160,7,61,M,1.089499e+13,1.089499e+13,{{|}{{|},4,46,F,3,260460,10,55940000,0,1,20150617,20150831,3,1,21,0,0,1,0,0,NaN,E260000001,1,NaN,582,20150617.0,2.01506e+07,0,C50- Câncer de Mama,0000,NaN,C501,S,2,00,20140514,S,C501,20140707.0,NaN,0.0,NaN,0.0,N,20141222,TMX,60,6,NaN
7594970,201812,PG,354870,2025361,3518255143580,201812,304050113,79.75,354870,5,0,M,4.652324e+13,4.652324e+13,{{{{}~~~,4,86,F,1,354870,10,9854530,0,1,20181101,20190131,3,2,21,0,0,1,0,0,NaN,M354870001,1,0,0,20181101.0,2.01811e+07,0000,C50- Câncer de Mama,0000,NaN,NaN,3,3,2,20180402,N,NaN,NaN,NaN,NaN,NaN,NaN,N,20180521,ARIMI,100,6,DEX
6768711,201701,EP,350000,2755130,3516242800829,201701,304050121,79.75,354140,5,0,M,4.637450e+13,4.637450e+13,}{~{}{{{{{~,4,52,F,1,351440,10,17900000,0,1,20161206,20170228,3,2,21,0,0,1,0,0,NaN,E350000016,1,0,2755130,20161206.0,2.01612e+07,0000,C50- Câncer de Mama,0000,NaN,NaN,N,2,0,20131217,N,NaN,NaN,NaN,NaN,NaN,NaN,S,20140324,TAMOX,6,0,IFENO
6888775,201704,PG,350320,2082527,3517215967034,201704,304020338,301.50,350320,5,0,I,4.396493e+13,0.000000e+00,}{|{{{|,4,74,F,1,355270,10,14910000,0,1,20170301,20170531,3,2,21,0,0,1,0,0,NaN,M350320008,1,0,0,20170301.0,2.01703e+07,0000,C50- Câncer de Mama,0000,NaN,NaN,S,3,G3,20150318,N,NaN,NaN,NaN,NaN,NaN,NaN,S,20170309,ANAST,3,3,ROZOL 1MG
4661707,201803,PG,230440,2723220,2318200051915,201802,304050075,800.00,230440,7,0,I,7.265515e+12,0.000000e+00,{{{|~}},4,46,F,1,230440,10,60441145,0,1,20180119,20180331,3,2,21,0,0,1,0,0,NaN,M230440001,1,0,2.72322e+06,20180119.0,20180314,0000,C50- Câncer de Mama,0000,NaN,C501,N,2,10,20170627,N,NaN,NaN,NaN,NaN,NaN,NaN,N,20170728,Taxol,15,6,NaN

In [11]:
df_mama_rad.sample(5)

,dt_process,tp_gestao,cod_tp_gestao,cod_est_cnes,num_apac,dt_atend_paciente,proc_princ_apac,vl_tot_apac_aprov,cod_uf_mun,tp_est,tip_prest,est_man_ind,cnpj_est_exe,cnpj_mante,num_csn,cod_idade,num_idade,sexo,raca_cor,cod_uf_mun_paciente,nac_paciente,cep_paciente,uf_res_dif_paciente,mun_res_dif_paciente,dt_ini_val,dt_fim_val,tp_atend_apac,ind_apac,mot_sai_perm,ind_obito,ind_encerr,ind_perm,ind_alta,ind_transf,dt_ocorr,cod_org_emi,car_atend,num_apac_ant,cod_soli_cnes,dt_soli,dt_auto,cid_caus_assoc,cid_princ,cid_sec,etnia,ar_smrd,ar_cid_10,ar_linfo_reg_inva,ar_estadi,ar_grahis,ar_dt_inden_pato,ar_trat_anter,ar_cidini1,ar_dt_ini_1_trat,ar_cidini2,ar_dt_ini_2_trat,ar_cidini3,ar_dt_ini_3_trat,ar_cont_trat,ar_dt_inic_trat_soli,ar_finalid_trat,ar_cid_topo_1,ar_cid_topo_2,ar_cid_topo_3,ar_num_ins_1,ar_dt_ini_1,ar_dt_ini_2,ar_dt_ini_3,ar_dt_fim_1,ar_dt_fim_2,ar_dt_fim_3,ar_num_ins_2,ar_num_ins_3
69011,201510,PG,230440,2723190,2315201242618,201510,304010286,829,230440,21,20,I,7990336000198,NaN,{~{|}~}|,4,46,F,3,160030,10.0,68902080,1,1,20151006,20151231,4,1,21,0,0,1,0,0,NaN,M230440001,1,0000000000000,2723190.0,20151006,20151023.0,0000,C50- Câncer de mama,0000,NaN,NaN,NaN,S,3,G2,20141007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,20151006.0,4.0,C793,NaN,NaN,60.0,20151006.0,NaN,NaN,20151021.0,NaN,NaN,NaN,NaN
313582,201710,EP,260000,2430843,2617205685700,201710,304010090,778,261160,39,0,I,24404329000186,0.0,{}{~}~,4,81,F,3,261160,10.0,51240510,0,1,20171020,20171231,4,1,21,0,0,1,0,0,NaN,E260000001,1,0000000000000,2430843.0,20171020,20171030.0,0000,C50- Câncer de mama,C795,NaN,NaN,NaN,S,4,0,20031112,NaN,C508,20031105.0,NaN,NaN,NaN,NaN,N,20171020.0,3.0,C795,NaN,NaN,40.0,20171020.0,NaN,NaN,20171231.0,NaN,NaN,NaN,NaN
505247,201703,PG,431490,2237601,4317200826500,201703,304010294,2410,431490,5,0,I,87020517000120,0.0,{{~~}|,4,58,F,1,432160,10.0,95590000,0,1,20170201,20170430,4,2,18,0,0,0,1,0,20170327.0,M431490001,1,0000000000000,2237601.0,20170201,20170201.0,0000,C50- Câncer de mama,0000,NaN,NaN,C508,N,1,03,20161223,N,NaN,0.0,NaN,00000000,NaN,0.0,N,20170201.0,2.0,C508,NaN,NaN,4.0,20170213.0,0.0,0.0,20170405.0,0.0,0.0,0.0,0.0
283689,201505,PG,250750,2399741,2515203154255,201505,304010286,1380,250750,7,61,I,9112236000194,NaN,{{|}~{{~~,4,63,F,1,250750,10.0,58057470,0,1,20150407,20150630,4,2,15,0,0,0,1,0,20150527.0,M250750701,1,0000000000000,2399741.0,20150407,20150407.0,0000,C50- Câncer de mama,0000,NaN,NaN,C509,S,3,2,20140903,S,C509,20141110.0,NaN,NaN,NaN,NaN,N,20150407.0,2.0,C509,NaN,NaN,5.0,20150407.0,NaN,NaN,20150630.0,NaN,NaN,0.0,0.0
548609,201706,PG,420540,19402,4217207697890,201706,304010294,4309,420540,5,0,I,83884999000106,0.0,{{{}{,4,38,F,1,421660,10.0,88122010,0,1,20170601,20170831,4,1,21,0,0,1,0,0,NaN,E420000018,2,0000000000000,19402.0,20170601,20170601.0,0000,C50- Câncer de mama,C770,NaN,NaN,NaN,N,3,8,20160802,N,NaN,NaN,NaN,NaN,NaN,NaN,N,20170601.0,2.0,C508,C770,NaN,120.0,20170601.0,20170601.0,NaN,20170831.0,20170831.0,NaN,40.0,NaN

### Geração de reports
Mesmo com análises exaustivas de frações dos dados, um overview total - de correlações, missing values et al - é imprescindível. Utilizando `pandas_profiling`, geraremos então relatórios que servirão de insumo do cenário macro desses dados.

In [12]:
from pandas_profiling import ProfileReport

ProfileReport(df_mama_quim).to_file('mama_quimioterapia_report.html')
ProfileReport(df_mama_rad).to_file('mama_radioterapia_report.html')

### Missing values

Devemos nos atentar ao valor informativo das colunas - porcentagens muito altas de missing values são indicativos de inaplicabilidade ou simplesmente não preenchimento da informação.

Primeiramente, nos dados de quimioterapia:

In [13]:
1 - df_mama_quim.count().sort_values().head(20) / len(df_mama_quim)

etnia               9.999218e-01
dt_ocorr            9.528107e-01
aq_cidini3          8.628335e-01
aq_dt_ini_3_trat    7.882332e-01
aq_cidini2          6.924594e-01
aq_cid_10           6.557957e-01
aq_dt_ini_2_trat    6.094069e-01
aq_cidini1          5.256917e-01
aq_dt_ini_1_trat    4.361935e-01
aq_esu_p2           3.426492e-01
cnpj_mante          2.748707e-01
num_apac_ant        9.078679e-02
dt_auto             6.386993e-02
dt_soli             3.932044e-02
cod_soli_cnes       4.795415e-03
aq_grahis           7.011300e-05
cnpj_est_exe        1.347321e-05
nac_paciente        5.624737e-06
aq_esqu_p1          2.616157e-07
aq_estadi           0.000000e+00
dtype: float64

A porcentagem de valores faltantes em `etnia` é certamente alarmante, uma coluna praticamente 100% nula. Vejamos seus poucos não-nulos

In [14]:
len(df_mama_quim[~df_mama_quim.etnia.isnull()]), len(df_mama_quim)

(598, 7644802)

Dado o volume de dados não contemplados por `etnia`, decidimos removê-la

In [16]:
df_mama_quim = df_mama_quim.drop(columns=['etnia'])

Seguidamente, nos dados de radioterapia:

In [15]:
1 - df_mama_rad.count().sort_values().head(20) / len(df_mama_rad)

ar_smrd             0.999997
etnia               0.999952
ar_cid_topo_3       0.973493
ar_dt_fim_3         0.963878
ar_dt_ini_3         0.963878
ar_cidini3          0.950476
ar_dt_ini_3_trat    0.902733
ar_cid_topo_2       0.808125
ar_dt_fim_2         0.799959
ar_dt_ini_2         0.799959
ar_cidini2          0.798322
ar_dt_ini_2_trat    0.750891
dt_ocorr            0.639168
ar_cidini1          0.622333
ar_num_ins_3        0.599192
ar_dt_ini_1_trat    0.573580
ar_num_ins_2        0.501368
ar_cid_10           0.482883
cnpj_mante          0.339376
ar_trat_anter       0.313292
dtype: float64

O cenário de 99.9%+ nulos observados em `etnia` se repetem também aqui, porém a `ar_smrd` - que inclusive não possui descrição no dicionário correlato - se apresenta com absolutos 100%. Iremos portanto descartar esta coluna.

In [17]:
df_mama_rad = df_mama_rad.drop(columns=['etnia', 'ar_smrd'])

### Valores constantes

De modo similar a missing values, colunas com valores constantes também não apresentam valor significativo. A partir do relatório, notamos essa característica no **Tipo de Atendimento APAC** para ambos sets.

In [18]:
df_mama_quim.tp_atend_apac.unique()

array([3], dtype=int64)

In [19]:
df_mama_rad.tp_atend_apac.unique()

array([4, 0], dtype=int64)

In [24]:
df_mama_rad[df_mama_rad.tp_atend_apac == 0]

,dt_process,tp_gestao,cod_tp_gestao,cod_est_cnes,num_apac,dt_atend_paciente,proc_princ_apac,vl_tot_apac_aprov,cod_uf_mun,tp_est,tip_prest,est_man_ind,cnpj_est_exe,cnpj_mante,num_csn,cod_idade,num_idade,sexo,raca_cor,cod_uf_mun_paciente,nac_paciente,cep_paciente,uf_res_dif_paciente,mun_res_dif_paciente,dt_ini_val,dt_fim_val,tp_atend_apac,ind_apac,mot_sai_perm,ind_obito,ind_encerr,ind_perm,ind_alta,ind_transf,dt_ocorr,cod_org_emi,car_atend,num_apac_ant,cod_soli_cnes,dt_soli,dt_auto,cid_caus_assoc,cid_princ,cid_sec,ar_cid_10,ar_linfo_reg_inva,ar_estadi,ar_grahis,ar_dt_inden_pato,ar_trat_anter,ar_cidini1,ar_dt_ini_1_trat,ar_cidini2,ar_dt_ini_2_trat,ar_cidini3,ar_dt_ini_3_trat,ar_cont_trat,ar_dt_inic_trat_soli,ar_finalid_trat,ar_cid_topo_1,ar_cid_topo_2,ar_cid_topo_3,ar_num_ins_1,ar_dt_ini_1,ar_dt_ini_2,ar_dt_ini_3,ar_dt_fim_1,ar_dt_fim_2,ar_dt_fim_3,ar_num_ins_2,ar_num_ins_3
168064,201505,MN,313130,2205440,3115233123486,201505,304010286,731,313130,5,61,M,19878404000100,1.987840e+13,{{}||~||,4,54,010,37558000,0,1.0,20151013,20151231,4,2,51,0,1,0,0,0,20151209,E310000010,1,NaN,2127989,20151010,20151010,0.0,C50- Câncer de mama,0.0,NaN,NaN,C509,2,20141216,N,C509,20151013,NaN,NaN,NaN,NaN,N,20151013,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Portanto, serão desconsideradas como colunas.

In [25]:
df_mama_quim = df_mama_quim.drop(columns=['tp_atend_apac'])
df_mama_rad = df_mama_rad.drop(columns=['tp_atend_apac'])

### Agrupamento de datas
Diversas colunas em ambos sets são marcações de tempo, que podem ajudar a inferir a duração dum tratamento.

Antes de convertê-las ao formato `datetime`, é necessário testar algumas hipóteses de preenchimento incorreto de datas.
Como primeiro passo para tratá-las, devemos convertê-las ao formato `datetime`.

In [151]:
def typo_list(yr):
    return [yr[1] + yr[0] + yr[2:],
            yr[:2] + yr[3] + yr[2],
            yr[0] + yr[2] + yr[1] + yr[3],
            yr[1] + yr[0] + yr[3] + yr[2]]

year_typos = [typo_list(str(year)) for year in range(2014, 2020)]
year_typos

[['0214', '2041', '2104', '0241'],
 ['0215', '2051', '2105', '0251'],
 ['0216', '2061', '2106', '0261'],
 ['0217', '2071', '2107', '0271'],
 ['0218', '2081', '2108', '0281'],
 ['0219', '2091', '2109', '0291']]

In [152]:
year_typos = [item for sublist in year_typos for item in sublist]

In [149]:
typo_collection = pd.DataFrame()

for yt in year_typos:
    pd.concat([typo_collection, df_mama_quim[['dt_soli']][df_mama_quim.dt_soli.astype(str).str.find(yt) == 1]], ignore_index=True)

typo_collection

Empty DataFrame
Columns: []
Index: []

Esgotada a possibilidade de que haja erros de digitação por posicionamento de caracteres, devemos analisar datas inválidas, no critério:

- Data acima do dia `20/10/2019`, dia do recebimento dos dados da competição. Claramente datas acima desta apontam para um procedimento "futuro" inexistente
- Data em má formatação (e.g. com caracteres que não sejam dígitos ou barra `/` de separação)

#### Tratamento de datas em má formatação

In [40]:
find_non_numeric = lambda x: not str(x).replace('e+', '').replace('.', '').isnumeric()

In [41]:
df_mama_rad[['dt_auto']][df_mama_rad.dt_auto.fillna(0).apply(find_non_numeric)]

Empty DataFrame
Columns: [dt_auto]
Index: []

In [38]:
df_mama_quim[['dt_auto']][df_mama_quim.dt_auto.fillna(0).apply(find_non_numeric)]

         dt_auto
625777  4/4/aaaa
625779  4/4/aaaa
625785  4/4/aaaa
625809  2/5/aaaa
625816  3/19/aaa
625822  2/13/aaa
625844  4/4/aaaa
625846  4/4/aaaa
625847  4/16/aaa
625848  4/16/aaa
625851  4/4/aaaa
625879  4/24/aaa
625881  3/19/aaa
625884  3/19/aaa
625887  4/4/aaaa
625893  4/4/aaaa
625920  4/4/aaaa
625921  4/4/aaaa
625922  2/20/aaa
625928  4/9/aaaa
625953  3/13/aaa
625960  4/16/aaa
625968  4/16/aaa
625984  2/5/aaaa
625985  3/13/aaa
625988  4/11/aaa
625989  4/4/aaaa
625990  2/12/aaa
625992  4/2/aaaa
625993  4/9/aaaa
...          ...
627721  4/4/aaaa
627722  4/4/aaaa
627723  4/16/aaa
627733  2/20/aaa
627755  4/4/aaaa
627756  4/16/aaa
627797  4/24/aaa
627799  4/4/aaaa
627800  4/4/aaaa
627801  4/16/aaa
627802  4/16/aaa
627807  2/13/aaa
627836  2/13/aaa
627837  4/9/aaaa
627882  2/5/aaaa
627884  4/24/aaa
627886  3/19/aaa
627887  4/11/aaa
627893  3/19/aaa
627914  4/24/aaa
627915  3/19/aaa
627916  2/12/aaa
627917  4/16/aaa
627932  4/24/aaa
627933  2/13/aaa
627936  2/12/aaa
627938  4/9/aaaa
627964  3/13/aaa
627966  4/9/aaaa
627969  4/4/aaaa

[292 rows x 1 columns]

É perceptível a invalidez destes dados - o campo referente ao ano em cada uma destas datas não foi preenchido, permanecendo então seu placeholder, `aaa` ou `aaaa`. Podemos seguramente retirá-los.

In [43]:
df_mama_quim.loc[df_mama_quim.dt_auto.fillna(0).apply(find_non_numeric), 'dt_auto'] = np.nan

#### Tratamento de datas futuras & passadas

Eliminaremos aqui datas que se situem acima do considerado possível (data de recebimento dos dados), ou abaixo do considerado factível (meados do início do século passado). Para isto, definimos uma função auxiliar que trata apenas do primeiro caso - datas futuras.

In [140]:
def find_future_dates(col, maximum=20191020):
    return df_mama_quim[col].fillna(0).astype(str).str.replace('/', '').fillna(0).astype(float).astype(int) > maximum

In [72]:
df_mama_quim[['dt_soli']][find_future_dates('dt_soli')].sample(15, random_state=rst)

            dt_soli
4296593  20191202.0
3271608  20480218.0
3279493  21040201.0
5436592  20191105.0
7074421  92011001.0
3798376  21050713.0
5401211  20191101.0
4721064  20191101.0
4721319  20191117.0
4721194  20191130.0
7389911  30180402.0
5435036  20191105.0
3239736  22011209.0
1419074  50160506.0
3197082  21031112.0

In [67]:
df_mama_quim[['dt_auto']][find_future_dates('dt_auto')].sample(15, random_state=rst)

             dt_auto
5400932     20191209
5971440  2.04705e+07
1275398  2.16011e+07
6807085  2.04702e+07
805539   2.14002e+07
195613      20510602
3689974  2.20104e+07
864366   8.20101e+07
6925641  2.50104e+07
6881156  2.04703e+07
638827      20200822
2224985  2.30108e+07
6981979  2.04705e+07
6218179  2.50101e+07
7336409  3.01804e+07

Valores formatados como `2.04703e+07` também são datas futuras, pois se traduzem em `20470500.0`. Eliminaremos portanto tais valores das colunas afetadas.

In [144]:
df_mama_quim.loc[find_future_dates('dt_soli'), 'dt_soli'] = np.nan
df_mama_quim.loc[find_future_dates('dt_auto'), 'dt_auto'] = np.nan

Analisando então datas passadas, tomamos como parâmetro datas em `dt_soli` que ocorram antes da década de 1950, longínquos 70 anos antes do ano desta análise.

In [239]:
df_mama_quim[['dt_soli']][df_mama_quim.dt_soli < 19500000].sample(10, random_state=rst)

            dt_soli
2444647  19131203.0
3900811   2011001.0
3893715   2010901.0
3256538   1440201.0
3210877   1440201.0
6743524   2011002.0
7549761   2080801.0
3228527  19141210.0
489144          0.0
35720    19151201.0

In [240]:
df_mama_quim.loc[df_mama_quim.dt_soli < 19500000, 'dt_soli'] = np.nan

#### Conversão de datas

In [145]:
dtcols = [c for c in df_mama_quim.columns if c.startswith('dt_')]
df_mama_quim[dtcols].head(10)

,dt_process,dt_atend_paciente,dt_ini_val,dt_fim_val,dt_ocorr,dt_soli,dt_auto
0,201401,201401,20140106,20140331,NaN,20140106.0,20140106
1,201401,201401,20140106,20140331,NaN,20140106.0,20140106
2,201401,201401,20140106,20140331,NaN,20140106.0,20140106
3,201401,201401,20131203,20140228,NaN,20131203.0,20131203
4,201401,201401,20140106,20140331,NaN,20140106.0,20140106
5,201401,201401,20131105,20140131,NaN,20131105.0,20131105
6,201401,201401,20131203,20140228,NaN,20131203.0,20131203
7,201401,201401,20140106,20140331,NaN,20140106.0,20140106
8,201401,201401,20131105,20140131,NaN,20131105.0,20131105
9,201401,201401,20131129,20140131,NaN,20131129.0,20131129

In [146]:
df_mama_quim[dtcols].dtypes

dt_process             int64
dt_atend_paciente      int64
dt_ini_val             int64
dt_fim_val             int64
dt_ocorr             float64
dt_soli              float64
dt_auto               object
dtype: object

As duas primeiras colunas - mês de processamento e atendimento ao paciente - formatam-se em ano-mês, portanto terão conversão diferenciada

In [232]:
ymth_dt = dtcols[0:2]
to_year_month = lambda df: df.apply(pd.to_datetime, format='%Y%M')

In [148]:
df_mama_quim[ymth_dt] = df_mama_quim[ymth_dt].apply(to_year_month)
df_mama_rad[ymth_dt] = df_mama_rad[ymth_dt].apply(to_year_month)

df_mama_quim[ymth_dt].head(5)

  dt_process dt_atend_paciente
0    2014-01           2014-01
1    2014-01           2014-01
2    2014-01           2014-01
3    2014-01           2014-01
4    2014-01           2014-01

In [182]:
ymd_dt = dtcols[2:-1]

# Retirada de casas decimais e conversão para datetime
str_to_date = lambda date: np.nan if pd.isnull(date) or len(date) != 8 else pd.to_datetime(date, format='%Y%m%d')

float_to_ymd = lambda df: df.fillna(0).astype(int).astype(str).replace('0', np.nan).apply(str_to_date)

In [ ]:
df_mama_quim[ymd_dt] = df_mama_quim[ymd_dt].apply(float_to_ymd)
df_mama_rad[ymd_dt] = df_mama_rad[ymd_dt].apply(float_to_ymd)

df_mama_quim[ymd_dt].head(5)

### Conversão de códigos inteiros

O número de APAC anterior, `num_apac_ant`, deve ser tratada de modo a eliminar a ocorrência de múltiplos zeros - o que nos indica que não houve APAC anterior - e por eficiência de armazenamento, ser tipada de acordo.

In [178]:
obj_to_int = lambda s: s.astype(str).str.extract('(\d+)', expand=False).replace('^0*$', '0').fillna(0).astype(float).astype(int)

In [170]:
col = 'num_apac_ant'
df_mama_quim[col] = obj_to_int(df_mama_quim[col])

A mesma lógica de formatação aplica-se às colunas de código CID:

In [172]:
df_mama_quim['cid_caus_assoc'].sample(10, random_state=rst)

7169028    0000
2040805    0000
6571445       0
1235602    0000
3939979    0000
3958743    0000
3875559    0000
5110494    0000
4137537    0000
944414     0000
Name: cid_caus_assoc, dtype: object

In [180]:
for c in [c for c in df_mama_quim.columns if c.startswith('cid_')]:
    df_mama_quim[c] = obj_to_int(df_mama_quim[c])

In [181]:
df_mama_quim['cid_caus_assoc'].sample(10, random_state=rst)

7169028    0
2040805    0
6571445    0
1235602    0
3939979    0
3958743    0
3875559    0
5110494    0
4137537    0
944414     0
Name: cid_caus_assoc, dtype: int32

Por fim, também em similaridade com os formatos supracitados, é observado no Código CNES dos estabelecimentos solicitantes (`cod_soli_cnes`) a mesma necessidade de processamento:

In [207]:
df_mama_quim.cod_soli_cnes.sample(10, random_state=rst)

7169028        2077531
2040805    2.74034e+06
6571445              0
1235602          26964
3939979    2.07748e+06
3958743     5.4773e+06
3875559    2.08146e+06
5110494    2.15311e+06
4137537    2.78644e+06
944414     2.20046e+06
Name: cod_soli_cnes, dtype: object

In [220]:
df_mama_quim['cod_soli_cnes'] = obj_to_int(df_mama_quim.cod_soli_cnes)
df_mama_quim['nac_paciente'] = obj_to_int(df_mama_quim.nac_paciente)

In [209]:
df_mama_quim.cod_soli_cnes.sample(10, random_state=rst)

7169028    2077531
2040805    2740338
6571445          0
1235602      26964
3939979    2077477
3958743    5477298
3875559    2081458
5110494    2153106
4137537    2786435
944414     2200457
Name: cod_soli_cnes, dtype: int32

# Preprocessed Save & Load

In [ ]:
# Salva os arquivos preprocessados
df_mama_quim.to_csv('../data/raw/preprocessed/mama_quim_sia_sus.csv')
df_mama_rad.to_csv('../data/raw/preprocessed/mama_rad_sia_sus.csv')

In [2]:
read_kwargs = {'encoding':'latin-1', 'error_bad_lines':False, 'sep':',', 'low_memory':False, 'index_col':0, 'skiprows':0}

In [4]:
# Carregamento dos arquivos preprocessados
df_mama_quim = pd.DataFrame()
for chunk in pd.read_csv('../data/raw/preprocessed/mama_quim_sia_sus.csv', chunksize=100000, **read_kwargs):
    df_mama_quim = pd.concat([df_mama_quim, chunk], ignore_index=True)

df_mama_rad = pd.read_csv('../data/raw/preprocessed/mama_rad_sia_sus.csv', **read_kwargs)

In [258]:
import time

def save_hdf(df, filename, kwargs):
    start = time.time()
    df.to_hdf(f'../data/raw/preprocessed/{filename}', **kwargs)
    print(f'Quim. dataset conversion time was {time.time() - start}s')

In [ ]:
save_hdf(df_mama_rad, 'mama_rad_sia_sus.h5', {'key':'mrad', 'complevel':6})

In [ ]:
save_hdf(df_mama_quim, 'mama_quim_sia_sus.h5', {'key':'mquim', 'complevel':0})